{% extends 'base.html.twig' %}

{% block title %}Hello QuizListController!{% endblock %}
   {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/quizList.css')}}">
  {% endblock %}

{% block body %}
    {% for quiz in list %}
        
        <div class="quiz">
          <h2 class="quiz_name">{{quiz.name}}</h2>
          <div class="panel">
            <div class="date">Создана: {{ quiz.registrationTime }}</div>
            {% if quiz.isActive %}
              <button class="start"><a href="/quiz/{{quiz.id}}">Начать</a></button>
            {% else %}
              <button class="start" disabled>Начать</button>
            {% endif %}
          </div>
        </div>
    {% endfor %}
    {{ knp_pagination_render(list) }}
{% endblock %}
     {% block javascript %}
         <script src="{{asset('assets/js/main.js')}}"></script>
     {% endblock %}
